In [1]:
import pandas as pd
import numpy as np
import dill

In [2]:
class CreditCardData:

    def __init__(self,
                 LIMIT_BAL: float,
                 GENDER: int,
                 EDUCATION: int,
                 MARRIAGE: int,
                 AGE: int,
                 PAY_1: int,
                 PAY_2: int,
                 PAY_3: int,
                 PAY_4: int,
                 PAY_5: int,
                 PAY_6: int,
                 BILL_AMT1: float,
                 BILL_AMT2: float,
                 BILL_AMT3: float,
                 BILL_AMT4: float,
                 BILL_AMT5: float,
                 BILL_AMT6: float,
                 PAY_AMT1: float,
                 PAY_AMT2: float,
                 PAY_AMT3: float,
                 PAY_AMT4: float,
                 PAY_AMT5: float,
                 PAY_AMT6: float,
                 DEFAULTS: int = None
                 ):
        try:
            self.LIMIT_BAL = LIMIT_BAL,
            self.GENDER = GENDER,
            self.EDUCATION = EDUCATION,
            self.MARRIAGE = MARRIAGE,
            self.AGE = AGE,
            self.PAY_1 = PAY_1,
            self.PAY_2 = PAY_2,
            self.PAY_3 = PAY_3,
            self.PAY_4 = PAY_4,
            self.PAY_5 = PAY_5,
            self.PAY_6 = PAY_6,
            self.BILL_AMT1 = BILL_AMT1,
            self.BILL_AMT2 = BILL_AMT2,
            self.BILL_AMT3 = BILL_AMT3,
            self.BILL_AMT4 = BILL_AMT4,
            self.BILL_AMT5 = BILL_AMT5,
            self.BILL_AMT6 = BILL_AMT6,
            self.PAY_AMT1 = PAY_AMT1,
            self.PAY_AMT2 = PAY_AMT2,
            self.PAY_AMT3 = PAY_AMT3,
            self.PAY_AMT4 = PAY_AMT4,
            self.PAY_AMT5 = PAY_AMT5,
            self.PAY_AMT6 = PAY_AMT6,
            self.DEFAULTS = DEFAULTS
        except Exception as e:
            print(e)

    def get_credit_input_data_frame(self):

        try:
            credit_input_dict = self.get_credit_data_as_dict()
            return pd.DataFrame(credit_input_dict)
        except Exception as e:
            print(e)

    def get_credit_data_as_dict(self):
        try:
            input_data = {
                'LIMIT_BAL': self.LIMIT_BAL,
                'GENDER': self.GENDER,
                'EDUCATION': self.EDUCATION,
                'MARRIAGE': self.MARRIAGE,
                'AGE': self.AGE,
                'PAY_1': self.PAY_1,
                'PAY_2': self.PAY_2,
                'PAY_3': self.PAY_3,
                'PAY_4': self.PAY_4,
                'PAY_5': self.PAY_5,
                'PAY_6': self.PAY_6,
                'BILL_AMT1': self.BILL_AMT1,
                'BILL_AMT2': self.BILL_AMT2,
                'BILL_AMT3': self.BILL_AMT3,
                'BILL_AMT4': self.BILL_AMT4,
                'BILL_AMT5': self.BILL_AMT5,
                'BILL_AMT6': self.BILL_AMT6,
                'PAY_AMT1': self.PAY_AMT1,
                'PAY_AMT2': self.PAY_AMT2,
                'PAY_AMT3': self.PAY_AMT3,
                'PAY_AMT4': self.PAY_AMT4,
                'PAY_AMT5': self.PAY_AMT5,
                'PAY_AMT6': self.PAY_AMT6
                }
            return input_data
        except Exception as e:
            print(e)

CreditCard_Defaults_data = CreditCardData(LIMIT_BAL=20000,
                                                  GENDER=2,
                                                  EDUCATION=2,
                                                  MARRIAGE=1,
                                                  AGE=24,
                                                  PAY_1=2,
                                                  PAY_2=2,
                                                  PAY_3=-1,
                                                  PAY_4=-1,
                                                  PAY_5=-2,
                                                  PAY_6=-2,
                                                  BILL_AMT1=3193,
                                                  BILL_AMT2=3102,
                                                  BILL_AMT3=689,
                                                  BILL_AMT4=0,
                                                  BILL_AMT5=0,
                                                  BILL_AMT6=0,
                                                  PAY_AMT1=0,
                                                  PAY_AMT2=689,
                                                  PAY_AMT3=0,
                                                  PAY_AMT4=0,
                                                  PAY_AMT5=0,
                                                  PAY_AMT6=0,
                                                  )
creditcard_df = CreditCard_Defaults_data.get_credit_input_data_frame()
creditcard_df

,LIMIT_BAL,GENDER,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0

In [5]:
def load_object():
    with open(r"C:\Users\HP\Desktop\Credit-Card-Default-Prediction-ML-Project\saved_models\20221127155944\model.pkl", "rb") as file_obj:
        return dill.load(file_obj)

In [6]:
model = load_object()

In [7]:
credit_card_dafaulter = model.predict(X=creditcard_df)

In [9]:
credit_card_dafaulter[0]

1.0