In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit

In [5]:
df = pd.read_csv("../dataset/UCI_Credit_Card.csv")
print(df.shape)
df.head().T

(30000, 25)

                                  0         1        2        3        4
ID                              1.0       2.0      3.0      4.0      5.0
LIMIT_BAL                   20000.0  120000.0  90000.0  50000.0  50000.0
SEX                             2.0       2.0      2.0      2.0      1.0
EDUCATION                       2.0       2.0      2.0      2.0      2.0
MARRIAGE                        1.0       2.0      2.0      1.0      1.0
AGE                            24.0      26.0     34.0     37.0     57.0
PAY_0                           2.0      -1.0      0.0      0.0     -1.0
PAY_2                           2.0       2.0      0.0      0.0      0.0
PAY_3                          -1.0       0.0      0.0      0.0     -1.0
PAY_4                          -1.0       0.0      0.0      0.0      0.0
PAY_5                          -2.0       0.0      0.0      0.0      0.0
PAY_6                          -2.0       2.0      0.0      0.0      0.0
BILL_AMT1                    3913.0    2682.0  29239.0  46990.0   8617.0
BILL_AMT2                    3102.0    1725.0  14027.0  48233.0   5670.0
BILL_AMT3                     689.0    2682.0  13559.0  49291.0  35835.0
BILL_AMT4                       0.0    3272.0  14331.0  28314.0  20940.0
BILL_AMT5                       0.0    3455.0  14948.0  28959.0  19146.0
BILL_AMT6                       0.0    3261.0  15549.0  29547.0  19131.0
PAY_AMT1                        0.0       0.0   1518.0   2000.0   2000.0
PAY_AMT2                      689.0    1000.0   1500.0   2019.0  36681.0
PAY_AMT3                        0.0    1000.0   1000.0   1200.0  10000.0
PAY_AMT4                        0.0    1000.0   1000.0   1100.0   9000.0
PAY_AMT5                        0.0       0.0   1000.0   1069.0    689.0
PAY_AMT6                        0.0    2000.0   5000.0   1000.0    679.0
default.payment.next.month      1.0       1.0      0.0      0.0      0.0

In [6]:
df["default.payment.next.month"].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64